---
import "../../css/bgdich-vu.css";

// Dữ liệu mẫu tĩnh
const sampleTitle = "Dịch vụ thiết kế nội thất chuyên nghiệp";
const sampleSubtitle = "Chúng tôi mang đến không gian sống và làm việc lý tưởng, tối ưu công năng và thẩm mỹ.";
const sampleImageUrl = "https://rcong.vn/home/wp-content/uploads/2024/12/Hoang-My-rcong-1.jpg";
---

<section>
  <div class="banner-container" style={`background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('${sampleImageUrl}');`}>
    <div class="banner-content">
      <h1>
        {sampleTitle}
      </h1>
      <p>
        {sampleSubtitle}
      </p>
    </div>
  </div>
</section>
