---
import '../css/floating-contact.css'
---

<!-- Floating contact buttons -->
<div class="floating-contact">
  <!-- Nút Google Maps -->
  <a href="https://maps.app.goo.gl/your-link" target="_blank" class="contact-button">
    <div class="contact-button-inner">
      <i class="fa-solid fa-map-location-dot"></i>
      <span>Chỉ đường</span>
    </div>
  </a>

  <!-- Nút Zalo -->
  <a href="https://zalo.me/your-phone-number" target="_blank" class="contact-button">
    <div class="contact-button-inner">
      <img src="https://upload.wikimedia.org/wikipedia/commons/9/91/Icon_of_Zalo.svg" alt="Zalo" />
      <span>Chat Zalo</span>
    </div>
  </a>

  <!-- Nút Gọi điện -->
  <a href="tel:0935754586" class="contact-button">
    <div class="contact-button-inner">
      <i class="fa-solid fa-phone"></i>
      <span>Gọi điện</span>
    </div>
  </a>

  <!-- Nút Messenger -->
  <a href="https://m.me/yourpage" target="_blank" class="contact-button">
    <div class="contact-button-inner">
      <i class="fa-brands fa-facebook-messenger"></i>
      <span>Messenger</span>
    </div>
  </a>
</div>

<!-- Back to top button -->
<a href="#" id="back-to-top" class="back-to-top-button">
  <i class="fa-solid fa-arrow-up"></i>
</a>

